.btn {
  border: none!important;
  outline: none!important;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 4px;
  color: $light;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  @extend .time;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &-dark {
    color: $primary;
    padding: 20px 50px;
    background: $bg-site;
    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      @extend .time;
      left: 0;
      top: 100%;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        5deg,
        rgb(0, 215, 197) 0%,
        rgba(25, 204, 126, 0.96) 53%,
        darken(rgba(11, 239, 156, 0.92157), 10%) 100%
      );
    }

    &:hover {
      color: $light;
      &::after {
        top: 0;
      }
    }
  }

  
  &-primary {
    &::after {
      @extend .time;
      z-index: -1;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 200%;
      background-image: linear-gradient(
        5deg,
        rgb(0, 215, 197) 0%,
        rgba(25, 204, 126, 0.96) 53%,
        darken(rgba(11, 239, 156, 0.92157), 10%) 100%
      );
    }
    &:hover::after {
      top: -100%;
    }
  }
}
