@font-face {
  font-family: $open100;
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: $open;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: $open600;
  src: url("../fonts/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: $open700;
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: $open800;
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}
